<nav class="aside">
    <a href="/" class="aside-logo logo">
        <img width="48" height="48" src="./img/logo.svg" alt="logo">
    </a>
    <ul class="aside-nav">
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button active">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside1'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside2'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside3'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside4'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside5'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside6'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside7'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#aside8'></use>
                </svg>
            </a>
        </li>
    </ul>

    <div class="aside__social">
        <a href="#" class="aside__link">
            <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#tg'></use>
            </svg>
        </a>
        <a href="#" class="aside__link">
            <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#vk'></use>
            </svg>
        </a>
    </div>

    <ul class="aside-nav aside-nav--bar">
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button active">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#home'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#bank'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button" data-chat>
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#chat'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <a href="#" class="aside-nav__button">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#cristal'></use>
                </svg>
            </a>
        </li>
        <li class="aside-nav__item">
            <button class="burger">
                <svg width='44' height='44'>
                    <use href='img/sprite/sprite.svg#burger'></use>
                </svg>
            </button>
        </li>
    </ul>
</nav>