.aside{
    display: flex;
    left: 0;
    width: clamp(80px, 7.2917vw, 140px);
    z-index: 35;

    @include for-tablet{
        flex-direction: column;
        background-color: rgba(var(--bg-e),.3);
        height: 100%;
        position: fixed;
        top: 0;
    }

    .aside-nav{
        flex-grow: 1;
        
        @include for-tablet{
            margin-top: 20px;
        }
    }


    &__social{
        padding: 34px 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 15px;

        @include tablet{
            display: none;
        }
    }

    &__link{       
        display: flex;
        align-items: center;
        justify-content: center;
    
        svg{
            transition: all .3s;
            fill: rgba(var(--cl-h),1.0);
        }

        &:hover{
            svg{
                fill: rgba(var(--cl-a),1.0);
            }
        }

        &.active{
            svg{
                fill: rgba(var(--cl-a),1.0);
            }
        }
    }

    @include for-tablet{
        overflow-y: auto;
    }

    @include tablet{
    
        width: 100%;
        position: fixed;
        bottom: 0;
        background-color: rgba(var(--bg-l),1.0);
        justify-content: center;
        height: 60px;
    }

    &::-webkit-scrollbar {
        width: 4px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color:var(--scrollbar-thumb);
      }
    
      &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track);
      }
}