.modal {
  position: relative;
  flex-direction: column;
  align-items: center;
  grid-gap: 25px;
  border-radius: 20px;
  z-index: 1;
  max-width: clamp(440px, 27.0833vw, 520px);
  background-color: rgba(var(--bg-n), 1);

  @include for-tablet {
    padding: clamp(30px, 2.0833vw, 40px);
  }

  @include tablet {
    padding: clamp(25px, 2.93vw, 30px);
  }

  @include for-mobile {
    width: 90vw;
  }

  @include mobile {
    width: 81.5vw;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    z-index: 2;
    position: relative;
  }

  &__inner {
    width: 100%;
    display: flex;
    grid-gap: clamp(15px, 1.0417vw, 20px);
    flex-wrap: wrap;
    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-tablet {
      grid-gap: clamp(10px, 1.0417vw, 20px);
    }

    @include tablet {
      grid-gap: clamp(5px, 0.977vw, 10px);
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    grid-gap: 10px;

    button {
      width: 100%;
      border-radius: 10px;
      padding: 13px 15px;

      @include for-tablet {
        height: clamp(45px, 2.6042vw, 50px);
        font-size: clamp(16px, 0.9375vw, 18px);
      }

      @include tablet {
        font-size: clamp(14px, 1.563vw, 16px);
        height: clamp(40px, 4.395vw, 45px);
      }
    }
  }

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(5px, 0.977vw, 10px);

    @include small-tablet {
      .modal__text {
        &:nth-child(3n) {
          margin-top: 5px;
        }
      }
    }
  }

  &__text {
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgba(var(--bg-k), 0.1);
  }

  &__pretitle {
    font-weight: 500;
    font-size: clamp(16px, 0.9375vw, 18px);
    color: rgba(var(--cl-u), 1);
  }

  &__title {
    font-weight: 800;
    text-align: center;

    @include for-tablet {
      font-size: clamp(22px, 1.25vw, 24px);
    }

    @include tablet {
      font-size: clamp(18px, 2.148vw, 22px);
    }
  }

  &__coin {
    display: flex;

    @include for-tablet {
      width: clamp(24px, 1.6667vw, 32px);
      height: clamp(24px, 1.6667vw, 32px);
    }

    @include tablet {
      width: clamp(16px, 2.344vw, 24px);
      height: clamp(16px, 2.344vw, 24px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__subtitle {
    font-weight: 700;
    text-align: center;
    display: inline-flex;
    align-items: center;
    grid-gap: 5px;

    @include for-tablet {
      font-size: clamp(16px, 0.9375vw, 18px);
    }

    @include tablet {
      font-size: clamp(14px, 1.563vw, 16px);
    }
  }

  &__list {
    display: grid;
    align-items: center;

    @include for-tablet {
      grid-gap: 20px;
    }

    @include tablet {
      grid-gap: 10px;
    }

    @include for-small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &:nth-child(3) {
      @include small-tablet {
        grid-column: span 2;

        .blue-btn {
          justify-content: center;
          grid-template-columns: repeat(2, min-content) !important;
          grid-gap: 25px;
        }
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(5px, 0.5208vw, 10px);
    align-items: center;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    grid-gap: clamp(15px, 1.0417vw, 20px);
    align-items: center;

    @include ios {
      flex-wrap: wrap;
    }
  }

  &.sell {
    .modal__box {
      @include for-tablet {
        grid-gap: clamp(25px, 2.0833vw, 40px);
      }

      @include tablet {
        grid-gap: clamp(20px, 2.441vw, 25px);
      }
    }
  }

  &.cabinet {
    @include for-tablet {
      max-width: clamp(510px, 28.6979vw, 551px);
    }

    @include tablet {
      max-width: clamp(350px, 49.805vw, 510px);
    }

    padding: clamp(25px, 1.5625vw, 30px) clamp(25px, 1.8229vw, 35px);

    .modal {
      &__box {
        grid-gap: clamp(20px, 1.3021vw, 25px);
      }

      &__list {
        grid-template-columns: 100%;
        grid-gap: clamp(23px, 1.3021vw, 25px);
      }

      &__item {
        grid-column: initial;
      }

      &__title {
        display: inline-flex;
        grid-gap: 10px;
        align-items: center;
        font-size: clamp(20px, 1.25vw, 24px);
        margin-bottom: 3px;
        img,
        svg {
          width: clamp(32px, 2.0833vw, 40px);
          height: clamp(32px, 2.0833vw, 40px);
        }
      }
    }
  }

  &.authorization {
    max-width: initial;
    background-position: center;
    background-repeat: no-repeat;

    @include for-tablet {
      width: 925px;
      padding: 40px 0 0;
      background-image: var(--modal-bg);
      background-size: 920px 350px;
    }

    @include tablet {
      padding: 25px 0 0;
      @include for-small-tablet {
        width: 600px;
        background-image: var(--modal-bg-tab);
        background-size: 600px 240px;
      }
    }

    @include small-tablet {
      width: 350px;
      background-image: var(--modal-bg-mob);
      background-size: 350px 265px;
    }

    background-color: initial;
    border-radius: initial;

    .blue-btn {
      display: grid;
      width: 100%;
      grid-template-columns: auto 1fr;
      justify-items: center;
    }

    .modal {
      &__title {
        @include for-tablet {
          font-size: 30px;
        }

        @include tablet {
          font-size: 18px;
        }

        @include small-tablet {
          font-size: 14px;
        }
      }

      &__box {
        border-radius: 20px;

        @include for-tablet {
          grid-gap: 50px;
          padding: 73px 80px 87px;
        }

        @include tablet {
          @include for-small-tablet {
            grid-gap: 35px;
            padding: 52px 40px 61px;
          }
        }

        @include small-tablet {
          padding: 48px 20px 46px;
          grid-gap: 25px;
        }
      }
    }
  }

  &.cases {
    width: 97vw;
    max-width: 97vw;
    height: 100%;
    padding: clamp(25px, 2.93vw, 30px);
    justify-content: center;
    background-color: transparent;

    &.mode {
      padding: 5px;
    }

    .close {
      right: 0;
      top: 0;
    }

    .modal {
      &__top {
        @include for-tablet {
          margin-bottom: clamp(5px, 2.6042vw, 50px);
        }

        @include tablet {
          margin-bottom: 10px;
        }
      }

      &__title {
        font-weight: 800;
        font-size: clamp(26px, 2.3958vw, 46px);
        line-height: 110%;
      }

      &__subtitle {
        font-weight: 800;
        font-size: clamp(14px, 1.0417vw, 20px);
      }

      &__box {
        align-items: center;
        grid-gap: clamp(30px, 2.0833vw, 40px);
      }
    }
  }

  &.flip {
    padding: clamp(45px, 2.6563vw, 51px) clamp(25px, 2.0833vw, 40px);
    max-width: clamp(400px, 24.8958vw, 478px);

    .modal {
      &__icon {
        position: absolute;
        top: 0;
        z-index: 5;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        width: clamp(55px, 3.5417vw, 68px);
        height: clamp(55px, 3.5417vw, 68px);

        svg,
        img {
          width: 100%;
          height: 100%;
        }
      }

      &__title {
        font-size: clamp(20px, 1.3542vw, 26px);
      }
    }

    .violet-btn {
      z-index: 5;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      font-size: clamp(14px, 0.9375vw, 18px);
      height: clamp(40px, 2.6042vw, 50px);
    }

    .game-calc {
      margin: 0;
      background-color: transparent;
      padding: 0;
      grid-gap: clamp(20px, 1.5625vw, 30px);

      &__wrapp {
        grid-gap: 30px;
        justify-content: center;
      }

      &__title {
        text-align: center;
      }

      &__inner {
        grid-gap: 15px;
      }
    }
  }

  &.wheel {
    @include for-tablet {
      max-width: clamp(510px, 28.6979vw, 551px);
    }

    @include tablet {
      max-width: clamp(350px, 49.805vw, 510px);
    }

    padding: clamp(25px, 1.5625vw, 30px) clamp(25px, 1.8229vw, 35px);

    .modal {
      &__box {
        grid-gap: clamp(20px, 1.3021vw, 25px);
      }

      &__title {
        display: inline-flex;
        grid-gap: 10px;
        align-items: center;
        font-size: clamp(20px, 1.25vw, 24px);
        margin-bottom: 3px;
        img,
        svg {
          width: clamp(32px, 2.0833vw, 40px);
          height: clamp(32px, 2.0833vw, 40px);
        }
      }
    }
  }
}
