.modal {
  position: relative;
  flex-direction: column;
  align-items: center;
  grid-gap: 25px;
  border-radius: 20px;
  z-index: 1;
  max-width: clamp(440px, 27.0833vw, 520px);
  background-color: rgba(var(--bg-n), 1);

  @include for-tablet {
    padding: clamp(30px, 2.0833vw, 40px);
  }

  @include tablet {
    padding: clamp(25px, 2.93vw, 30px);
  }

  @include for-mobile{
    width: 90vw;
  }

  @include mobile{
    width: 81.5vw;
  }

  &__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 25px;
    z-index: 2;
    position: relative;
  }

  &__btns{
    display: flex;
    align-items: center;
    grid-gap: 10px;

    button{
      width: 100%;
      border-radius: 10px;
      padding: 13px 15px;

      @include for-tablet{
        height: clamp(45px, 2.6042vw, 50px);
        font-size: clamp(16px, .9375vw, 18px);
      }

      @include tablet{
        font-size: clamp(14px, 1.563vw, 16px);
        height: clamp(40px, 4.395vw, 45px);
      }
    }
  }

  &__title {
    font-weight: 800;
    text-align: center;

    @include for-tablet {
      font-size: clamp(22px, 1.25vw, 24px);
    }

    @include tablet {
      font-size: clamp(18px, 2.148vw, 22px);
    }
  }

  &__list {
    display: grid;
    align-items: center;

    @include for-tablet {
      grid-gap: 20px;
    }

    @include tablet {
      grid-gap: 10px;
    }

    @include for-small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    &:nth-child(3) {
      @include small-tablet {
        grid-column: span 2;

        .blue-btn{
          justify-content: center; 
          grid-template-columns:  repeat(2, min-content) !important;   
          grid-gap: 25px;      
        }
      }
    }
  }

  .exit{

  }

  &.authorization {
    max-width: initial;
    background-position: center;
    background-repeat: no-repeat;

    @include for-tablet {
      width: 925px;
      padding: 40px 0 0;
      background-image: var(--modal-bg);
      background-size: 920px 350px;
    }

    @include tablet {
      padding: 25px 0 0;
      @include for-small-tablet {
        width: 600px;
        background-image: var(--modal-bg-tab);
        background-size: 600px 240px;
      }
    }

    @include small-tablet {
      width: 350px;
      background-image: var(--modal-bg-mob);
      background-size: 350px 265px;
    }

    background-color: initial;
    border-radius: initial;

    .blue-btn {
      display: grid;
      width: 100%;
      grid-template-columns: auto 1fr;
      justify-items: center;
    }

    .modal {
      &__title {
        @include for-tablet {
          font-size: 30px;
        }

        @include tablet {
          font-size: 18px;
        }

        @include small-tablet {
          font-size: 14px;
        }
      }

      &__box {
        border-radius: 20px;

        @include for-tablet {
          grid-gap: 50px;
          padding: 73px 80px 87px;
        }

        @include tablet {
          @include for-small-tablet {
            grid-gap: 35px;
            padding: 52px 40px 61px;
          }
        }

        @include small-tablet {
          padding: 48px 20px 46px;
          grid-gap: 25px;
        }
      }
    }
  }
}
