.case-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  background-color: rgba(var(--bg-f), 0.6);
  padding: 0 20px 45px 20px;
  width: 100%;
  position: relative;
  transition: all 0.4s;

  @include for-tablet {
    max-width: clamp(140px, 9.375vw, 180px);
  }

  @include tablet {
    max-width: clamp(140px, 17.578vw, 180px);
  }

  &__image {
    img,
    picture {
      transition: all 0.4s;
      width: 100%;
      height: 100%;
    }

    @include for-tablet {
      width: clamp(100px, 7.2917vw, 140px);
      width: clamp(100px, 7.2917vw, 140px);
    }

    @include tablet {
      width: clamp(100px, 13.672vw, 140px);
      height: clamp(100px, 13.672vw, 140px);
    }
  }

  &__title {
    font-weight: 800;
    text-align: center;

    @include for-tablet {
      font-size: clamp(16px, 0.9375vw, 18px);
    }

    @include tablet {
      font-size: clamp(16px, 1.758vw, 18px);
    }
  }

  &__value {
    font-weight: 800;
    text-transform: uppercase;
    transition: all .4s;

    &--mode {
      font-weight: 500;
      text-decoration: line-through;
      color: rgba(var(--cl-e), 1);
    }

    @include for-tablet {
      font-size: clamp(12px, 0.8333vw, 16px);
    }

    @include tablet {
      font-size: clamp(12px, 1.563vw, 16px);
    }
  }

  &__coin {
    display: flex;
    width: 16px;
    height: 16px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__bottom {
    width: fit-content;
    display: flex;
    align-items: center;
    grid-gap: 5px;
    border-radius: 10px;
    background-color: rgba(var(--bg-f), 0.5);
    @include gradient-border(var(--gr-a), 2px);
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%, 50%);

    @include for-tablet {
      padding: clamp(10px, 0.625vw, 12px) 15px;
    }

    @include tablet {
      padding: clamp(10px, 1.172vw, 12px) 15px;
    }

    .case-card__value--mode{
      margin-bottom: -2px;
    }

    &::after{
      position: absolute;
      z-index: -1;
      content: '';
      inset: 0;
      background: var(--gr-a);
      border-radius: inherit;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
      pointer-events: none;
    }

    &:hover{
      &::after{
        opacity: 1;
        visibility: visible;
      }

      .case-card__value--mode{
        color: rgba(var(--cl-a), 1);
      }
    }
  }

  &__percent {
    font-weight: 500;
    font-size: clamp(11px, 1.367vw, 14px);
    text-align: center;
    color: rgba(var(--cl-e), 1);
  }

  &__price {
    display: flex;
    align-items: center;
    grid-gap: 5px;
  }

  &:hover {
    // background-color: rgba(var(--bg-k), 0.4);
    // .case-card__image {
    //   .img,
    //   picture {
    //     transform: translateY(-10%) scale(1.4);
    //   }
    // }
  }

  &--object {
    background: var(--gr-g);
    padding: 10px;
    height: 100%;
    max-width: 100%;

    .case-card {
      &__image {
        @include for-tablet {
          width: 70px;
          width: 70px;
        }

        @include tablet {
          width: clamp(40px, 6.836vw, 70px);
          height: clamp(40px, 6.836vw, 70px);
        }

        margin-bottom: 10px;

        @include mobile {
          margin-bottom: 5px;
        }
      }

      &__title {
        font-size: clamp(11px, 1.367vw, 14px);
        margin-bottom: 5px;
        flex-grow: 1;
        line-height: 120%;
        display: inline-flex;
        align-items: center;
        min-height: 36px;

        @include tablet {
          margin-bottom: 8px;
        }
      }

      &__percent {
        margin-bottom: 16px;

        @include mobile {
          margin-bottom: 8px;
        }
      }

      &__value {
        font-weight: 700;
        font-size: clamp(11px, 1.367vw, 14px);
        text-align: center;
      }
    }

    .chars {
      position: absolute;
      top: 10px;
      z-index: 3;

      @include for-small-tablet {
        right: 10px;
      }

      @include small-tablet {
        right: 12px;
      }
    }
  }

  &.stock {
    @include for-mobile {
      .case-card__price {
        padding: clamp(6px, 1.074vw, 11px) clamp(10px, 1.465vw, 15px);
        border: 1px solid var(--br-d);
        border-radius: 10px;
        position: relative;
        z-index: 1;
        transition: all .4s;

        &:hover{
          background-color: rgba(var(--bg-f), 0.4);
        }
      }
    }

    &.pink {
      @include for-mobile {
        .case-card__price {
          border-color: var(--br-c);
        }
      }
    }

    &.green {
      @include for-mobile {
        .case-card__price {
          border-color: var(--br-f);
        }
      }
    }

    &.red {
      @include for-mobile {
        .case-card__price {
          border-color: var(--br-g);
        }
      }
    }

    &.gold {
      @include for-mobile {
        .case-card__price {
          border-color: var(--br-h);
        }
      }
    }
  }

  &.send {
    @include for-mobile {
      .case-card__price {
        line-height: 120%;
        padding: 11px 15px;
      }
    }
  }

  &.pink {
    @include gradient-border(var(--gr-h), 1px);
  }

  &.green {
    @include gradient-border(var(--gr-i), 1px);
  }

  &.red {
    @include gradient-border(var(--gr-j), 1px);
  }

  &.gold {
    @include gradient-border(var(--gr-k), 1px);
  }

  &__box{
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    background-color: rgba(var(--bg-f), 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(90px, 13.672vw, 140px);
    height: clamp(90px, 13.672vw, 140px);

    @include gradient-border(var(--gr-j), 1px);

    .chars {
      position: absolute;
      top: 10px;
      z-index: 3;
      right: 10px;
    }
  }

  &__btns{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(5px, 0.977vw, 10px);
    width: 100%;

    .violet-btn{
      width: 100%;
      border-radius: 10px;
      height: clamp(30px, 2.0833vw, 40px);
      padding: 5px 10px;

      @include for-tablet{
        font-size: clamp(12px, .8333vw, 16px);
      
      }

      @include tablet{
        font-size: clamp(11px, 1.172vw, 12px);
      }
    }

    .transparent-btn{
      width: 100%;
      border-radius: 10px;
      height: clamp(30px, 2.0833vw, 40px);
      padding: 5px 10px;

      @include for-tablet{
        font-size: clamp(12px, .8333vw, 16px);
      }

      @include tablet{
        font-size: clamp(11px, 1.172vw, 12px);
      }
    }

    @include for-tablet{
      margin-top: clamp(3px, .5208vw, 10px);
    }

    @include tablet{
      margin-top: 3px;
    }
  }

  &--game{
    padding: 0;
    background-color: transparent;
    max-width: 100%;
    grid-gap: 10px;

    .case-card{
      &__image {
        width: clamp(50px, 9.766vw, 100px);
        height: clamp(50px, 9.766vw, 100px);
        display: flex;
        flex-shrink: 0;
      }

      &__title{

        @include tablet {
          font-size: clamp(12px, 1.563vw, 16px);
        }
      }
    }

  }

  &--win{
    padding: clamp(10px, 1.0417vw, 20px);
    background: rgba(var(--bg-t),1.0);
    border-radius: clamp(10px, 1.0417vw, 20px);
    @include gradient-border(var(--gr-j), 1px);
    max-width: 100%;

    @include for-tablet{
      width: clamp(140px, 13.5417vw, 260px);
      grid-gap: 10px;
    }

    @include tablet{
      width: clamp(120px, 13.672vw, 140px);
      grid-gap: 5px;
    }

    &:hover{
      background: rgba(var(--bg-t),1.0);
    }

    .case-card{
      &__image {
        width: clamp(60px, 5.2083vw, 100px);
        height: clamp(60px, 5.2083vw, 100px);
        display: flex;
        flex-shrink: 0;

        @include tablet{
          margin-bottom: 5px;
        }
      }

      &__title{
        @include for-tablet{
          font-size: clamp(12px, .9375vw, 18px);
        }

        @include tablet {
          font-size: clamp(11px, 1.172vw, 12px);
        }
      }

      &__coin{
        width: clamp(16px, 1.0417vw, 20px);
        height: clamp(16px, 1.0417vw, 20px);
      }

      &__value{
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        font-size: clamp(11px, .7292vw, 14px);
        font-weight: 700;
      }
    }

    .chars {
      position: absolute;
      top: 10px;
      z-index: 3;
      right: 10px;

      &__icon{
        @include tablet{
          width: clamp(8px, 1.0417vw, 20px);
          height: clamp(8px, 1.0417vw, 20px);
        }

      }
    }

  }
}
