.jackpot-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 7px;
    justify-content: center;
    padding: clamp(15px, 1.0417vw, 20px);
    border-radius: 20px;
    background-color: rgba(var(--bg-f),.6);
    width: clamp(80px, 6.25vw, 120px);
    min-height: clamp(80px, 6.25vw, 120px);

    img{
        display: flex;
        width: clamp(30px, 2.604vw, 50px);
        height: clamp(30px, 2.604vw, 50px);
        border-radius: 50%;
        overflow: hidden;
    }

    &__bet{
        font-weight: 800;
        font-size: clamp(11px, 0.729vw, 14px);
        text-align: center;
        color: rgba(var(--cl-j),1.0);
        grid-gap: 5px;
        display: flex;
        align-items: center;
       
        &::before{
            content: '';
            display: block;
            width: clamp(14px, 1.042vw, 20px);
            height: clamp(14px, 1.042vw, 20px);
            background-image: url(../img/sprite/coin.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            pointer-events: none;
        }

        &.active{
            display: none;
             opacity: 0;
             visibility: hidden;
         }
    }

    &__percent{
      
        font-weight: 500;
        font-size: clamp(11px, 0.729vw, 14px);
        text-align: center;
        color: rgba(var(--cl-i),1.0);

        &.active{
           display: none;
            opacity: 0;
            visibility: hidden;
        }
    }

    &.active{
        img{
            width: clamp(50px, 4.167vw, 80px);
            height: clamp(50px, 4.167vw, 80px);
        }
    }
}