.tower-card{
    background-color: rgba(var(--bg-k),.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    border: 1px solid transparent;
    transition: all .3s;
    cursor: pointer;

    &:hover{

        .tower-card__icon{
            transform: scale(1.1);
        }
    }

    @include for-tablet{
        min-height: clamp(40px, 2.3438vw, 45px);
    }

    @include tablet{
        min-height: clamp(30px, 3.906vw, 40px);
    }

    &__wrapp{
        position: absolute;
        inset: -1px;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--bg-w),1);
        border-radius: inherit;
        opacity: 1;
        visibility: visible;
    }

    &__bet{
        width: clamp(20px, 1.6667vw, 32px);
        height: clamp(20px, 1.6667vw, 32px);
        display: flex;
        z-index: 2;

        img,svg{
            width: 100%;
            height: 100%;
        }
      
    }

    &__icon{
        width: clamp(20px, 1.6667vw, 32px);
        height: clamp(20px, 1.6667vw, 32px);
        display: flex;
        transition: all .1s linear;
        img,svg{
            width: 100%;
            height: 100%;
        } 
    }

    &::before{
        content: '';
        position: absolute;
        z-index: 1;
        inset: 0;
        border-radius: inherit;
        background-image: url(../img/sprite/bomb_bg.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    &.active{
        .tower-card__wrapp{
            opacity: 0;
            visibility: hidden;
        }
        border-color: transparent;
    }

    &.win{
        border-color: var(--br-c);
        box-shadow: inset 0 0 14px  rgba(var(--cl-j),.2);
    }

    &.lose{
        background-color: transparent;

        &::before{
            opacity: 1;
            visibility: visible;
        }
    }
}