<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <ul class="footer-social">
        <li class="footer-social__item">
          <a href="#" class="footer-social__link mode">
            <span class="footer-social__link-text">Пользовательское соглашение</span>
            <span class="footer-social__link-text mob">Cоглашение</span>
          </a>
        </li>
        <li class="footer-social__item">
          <a href="mailto:info@rbxpy.gg" class="footer-social__link">
            Email: info@rbxpy.gg
          </a>
        </li>
      </ul>

      <a href="/" class="footer-logo logo">
        <img width="42" height="42" src="img/sprite/logo-f.svg" alt="logo">
      </a>
      <span class="footer__copyright">2024 www.rbxpy.gg</span>
    </div>
  </div>
</footer>