<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
    <a href="/" class="header-logo logo">
      <img width="48" height="48" src="./img/logo.svg" alt="logo">
    </a>
      <div class="header__inner">
        <div class="lang-select select" data-select>
            <div class="select__header">
              <input type="hidden" class="select__input input-select" name="lang" value="1">
              <span class="select__current" data-id="1">
                <img width="24" height="24" src="./img/sprite/en-lang.svg" alt="image">

                <span class="select__arrow"></span>
              </span>
            </div>
            <div class="select__body">
              <ul class="select__list">
                <li class="select__option" data-id="1" data-type="option">
                  <img width="24" height="24" src="./img/sprite/en-lang.svg" alt="image">
                </li>
                <li class="select__option" data-id="2" data-type="option">
                  <img width="24" height="24" src="./img/sprite/ru.svg" alt="image">
                </li>
                <li class="select__option" data-id="3" data-type="option">
                  <img width="24" height="24" src="./img/sprite/chn.svg" alt="image">
                </li>
                <li class="select__option" data-id="4" data-type="option">
                  <img width="24" height="24" src="./img/sprite/korean.svg" alt="image">
                </li>
                <li class="select__option" data-id="5" data-type="option">
                  <img width="24" height="24" src="./img/sprite/vietnam.svg" alt="image">
                </li>
                <li class="select__option" data-id="6" data-type="option">
                  <img width="24" height="24" src="./img/sprite/jpn.svg" alt="image">
                </li>
                <li class="select__option" data-id="7" data-type="option">
                  <img width="24" height="24" src="./img/sprite/spain.svg" alt="image">
                </li>
              </ul>
            </div>
        </div>
        
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a href="index.html" class="main-nav__link active">Главная</a>
            </li>
            <li class="main-nav__item">
              <a href="faq.html" class="main-nav__link">FAQ</a>
            </li>
            <li class="main-nav__item">
              <a href="referral.html" class="main-nav__link">Рефералы</a>
            </li>
            <li class="main-nav__item">
              <a href="bonus.html" class="main-nav__link">Бонусы</a>
            </li>
          </ul>
        </nav>

        <div class="header__wrapper">
          <div class="balance">
            <span class="balance__title">Баланс:</span>
              <span class="balance__icon">
                <svg width='20' height='20'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>
              <span class="balance__value">994,560</span>
            
              <button class="balance__btn">
                <img width="26" height="26" src="./img/sprite/house.svg" alt="icon">
              </button>
          </div>

          <div class="player">
            <div class="player__avatar">
              <img src="./img/index/ava.png" alt="image">
            </div>

            <div class="player__box">
              <span class="player__name">Name pleyer</span>
              <span class="player__id">ID 75</span>
              <span class="player__info">Дивизион <b>A</b></span>
            </div>

            <button class="player__btn" data-btn-modal="exit">
              <svg width='32' height='32'>
                <use href='img/sprite/sprite.svg#exit'></use>
              </svg>
            </button>
          </div>
        </div>

       
      </div>
    </div>
    <div class="mobile">
      <div class="mobile__menu">
        <div class="mobile__menu-top">
          <div class="lang-select select" data-select>
            <div class="select__header">
              <input type="hidden" class="select__input input-select" name="lang" value="1">
              <span class="select__current" data-id="1">
                <img width="24" height="24" src="./img/sprite/en-lang.svg" alt="image">
    
                <span class="select__arrow"></span>
              </span>
            </div>
            <div class="select__body">
              <ul class="select__list">
                <li class="select__option" data-id="1" data-type="option">
                  <img width="24" height="24" src="./img/sprite/en-lang.svg" alt="image">
                </li>
                <li class="select__option" data-id="2" data-type="option">
                  <img width="24" height="24" src="./img/sprite/ru.svg" alt="image">
                </li>
                <li class="select__option" data-id="3" data-type="option">
                  <img width="24" height="24" src="./img/sprite/chn.svg" alt="image">
                </li>
                <li class="select__option" data-id="4" data-type="option">
                  <img width="24" height="24" src="./img/sprite/korean.svg" alt="image">
                </li>
                <li class="select__option" data-id="5" data-type="option">
                  <img width="24" height="24" src="./img/sprite/vietnam.svg" alt="image">
                </li>
                <li class="select__option" data-id="6" data-type="option">
                  <img width="24" height="24" src="./img/sprite/jpn.svg" alt="image">
                </li>
                <li class="select__option" data-id="7" data-type="option">
                  <img width="24" height="24" src="./img/sprite/spain.svg" alt="image">
                </li>
              </ul>
            </div>
        </div>
        <button class="yellow-btn">
          <svg width='20' height='20'>
            <use href='img/sprite/sprite.svg#profile'></use>
          </svg>
          личный кабинет</button>
        </div>
          <ul class="mobile__menu-list">
            <li><a href="/">
              <img width='23' height='23' src="../img/sprite/home2.svg" alt="icon">
              Главная</a></li>
            <li><a href="#">
              <img width='26' height='26' src="../img/sprite/i.svg" alt="icon">
              FAQ</a></li>
            <li><a href="#">
              <img width='26' height='26' src="../img/sprite/friend.svg" alt="icon">
              Рефералы</a></li>
            <li><a href="#">
              <img width='21' height='21' src="../img/sprite/gift.svg" alt="icon">
              Бонусы</a></li>
          </ul>
          <ul class="mobile__menu-list mode">
            <li><a href="#">
              <img width='28' height='28' src="../img/sprite/game.svg" alt="icon">
              Games</a></li>
            <li><a href="#">
              <img width='26' height='26' src="../img/sprite/bank2.svg" alt="icon">
              Банк</a></li>
            <li><a href="#">
              <img width='26' height='26' src="../img/sprite/faq.svg" alt="icon">
              Поддержка</a></li>
          </ul>
          <div class="mobile__menu-btns">
            <a href="#" class="mobile__menu-btn">
              <svg width='40' height='40'>
                <use href='img/sprite/sprite.svg#tg'></use>
              </svg>
            </a>
            <a href="#" class="mobile__menu-btn">
              <svg width='40' height='40'>
                <use href='img/sprite/sprite.svg#vk'></use>
              </svg>
            </a>
          </div>
      </div>
    </div>
  </div>
</header>





