<div class="overlay fixed-block" data-overlay>
  <div class="modal authorization" data-popup="authorization">

    <div class="modal__box">

      <button class="close" aria-label="Закрыть модальное окно">
        <svg width="32" height="32">
          <use href="img/sprite/sprite.svg#close"></use>
        </svg>
      </button>
      <span class="modal__title">ВЫБЕРИТЕ СПОСОБ АВТОРИЗАЦИИ</span>
      <ul class="modal__list">
        <li class="modal__item">
          <button class="blue-btn">
            <span class="blue-btn__icon">
              <img width='32' height='32' src="./img/sprite/google.svg" alt="icon">
            </span>
            Google
          </button>
        </li>
        <li class="modal__item">
          <button class="blue-btn">
            <span class="blue-btn__icon">
              <img width='32' height='32' src="./img/sprite/discord.svg" alt="icon">
            </span>
            Discord
          </button>
        </li>
        <li class="modal__item">
          <button class="blue-btn">
            <span class="blue-btn__icon">
              <img width='32' height='32' src="./img/sprite/vk2.svg" alt="icon">
            </span>
            Вконтакте
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal exit" data-popup="exit">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">
      <span class="modal__title">Вы точно хотите выйти из<br> аккаунта?</span>

      <div class="modal__btns">
        <button class="transparent-btn transparent-btn--violet">Да</button>
        <button class="violet-btn">нет</button>
      </div>
    </div>
  </div>

  <div class="modal sell" data-popup="sell">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">
      <div class="modal__wrapper">
        <span class="modal__title">Продать “<span class="modal__name">Flamingo</span>”</span>
        <span class="modal__subtitle">за
          <span class="modal__coin">
            <svg width='32' height='32'>
              <use href='img/sprite/sprite.svg#coin'></use>
            </svg>
          </span>
          <span class="modal__value">24,297</span>
        </span>
      </div>

      <div class="modal__btns">
        <button class="transparent-btn transparent-btn--violet">Да</button>
        <button class="violet-btn">нет</button>
      </div>
    </div>
  </div>

  <div class="modal cabinet" data-popup="refill">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Пополнение
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID операции</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy"
                data-value="#f6144626-2bda-4f53-929a-b42936932e8a">#f6144626-2bda-4f53-929a-b42936932e8a</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Информация</span>
            <span class="modal-row__info">Mastercard</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Сумма</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Статус</span>
            <span class="modal-row__info green">Подтверждено</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="withdraw">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Вывод
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID операции</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy"
                data-value="#f6144626-2bda-4f53-929a-b42936932e8a">#f6144626-2bda-4f53-929a-b42936932e8a</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Информация</span>
            <span class="modal-row__info">Mastercard</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Реквизиты</span>
            <div class="modal-row__wrapper requisites" data-copy>
              <span class="modal-row__copy" data-value="412213133037228">412213133037228</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Сумма</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin modal-row__coin--mode">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Статус</span>
            <span class="modal-row__info green">Подтверждено</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="coinflip">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Сторона</span>
            <span class="modal-row__info">Кандара</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Соперник</span>

            <div class="modal-row__wrapper">
              <span class="modal-row__ava">
                <img src="./img/cabinet/ava.png" alt="image">
              </span>
              <span class="modal-row__info modal-row__info--mode">ArduinoBoy</span>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID игры</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy" data-value="#1455">#1455</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              600</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="dice">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Шанс</span>
            <span class="modal-row__info">50.00%</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID игры</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy" data-value="#1455">#1455</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Итог</span>
            <span class="modal-row__info green">
              х3.00</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              360</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="tower">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Риск</span>
            <span class="modal-row__info">х1.08</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID игры</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy" data-value="#1455">#1455</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Итог</span>
            <span class="modal-row__info green">
              х3.00</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              360</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="crash">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Исход</span>
            <span class="modal-row__info">х1.08</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID игры</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy"
                data-value="#f6144626-2bda-4f53-929a-b42936932e8a">#f6144626-2bda-4f53-929a-b42936932e8a</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              120</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Итог</span>
            <span class="modal-row__info green">
              х3.00</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              360</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="jackpot">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Победитель</span>

            <div class="modal-row__wrapper">
              <span class="modal-row__ava">
                <img src="./img/cabinet/ava.png" alt="image">
              </span>
              <span class="modal-row__info modal-row__info--mode">ArduinoBoy</span>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID игры</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy"
                data-value="#f6144626-2bda-4f53-929a-b42936932e8a">#f6144626-2bda-4f53-929a-b42936932e8a</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              310</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="wheel">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Цель ставки</span>
            <div class="modal-row__wrapper">
              <span class="modal-row__bet">
                <img width="20" height="20" src="./img/cabinet/bet-orange.png" alt="image">
              </span>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID игры</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy"
                data-value="#f6144626-2bda-4f53-929a-b42936932e8a">#f6144626-2bda-4f53-929a-b42936932e8a</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              310</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cabinet" data-popup="transfer">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">

      <span class="modal__title">
        <img width="32" height="32" src="./img/sprite/i.svg" alt="image">
        Подробнее
      </span>

      <ul class="modal__list">
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID операции</span>
            <div class="modal-row__wrapper" data-copy>
              <span class="modal-row__copy"
                data-value="#f6144626-2bda-4f53-929a-b42936932e8a">#f6144626-2bda-4f53-929a-b42936932e8a</span>
              <button class="copy-btn">
                <svg width="24" height="24">
                  <use href="img/sprite/sprite.svg#doc"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Дата</span>
            <span class="modal-row__info">22.02.2024 в 16:01</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">ID получателя</span>
            <span class="modal-row__info">999</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Ставка</span>
            <span class="modal-row__info violet">
              <span class="modal-row__coin">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#coin'></use>
                </svg>
              </span>

              300</span>
          </div>
        </li>
        <li class="modal__item">
          <div class="modal-row">
            <span class="modal-row__title">Результат</span>
            <span class="modal-row__info green">Подтверждено</span>
          </div>
        </li>
      </ul>

    </div>
  </div>

  <div class="modal cases" data-popup="win">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal__box">

      <div class="modal__top">
        <span class="modal__subtitle">
          ПОЗДРАВЛЯЕМ! ВАШ ВЫИГРЫШЬ С КЕЙСА!
        </span>
        <span class="modal__title">
          “Зоопарк”
        </span>
      </div>

      <div class="modal__inner">
        <div class="case-card case-card--win">

          <div class="case-card__image">
            <img width="100" height="100" src="./img/case/img4.png" alt="image">
          </div>
          <div class="chars">
            <div class="chars__icon">
              <img width="20" height="20" src="img/case/m.png" alt="image">
            </div>
            <div class="chars__icon">
              <img width="20" height="20" src="img/case/f.png" alt="image">
            </div>
            <div class="chars__icon">
              <img width="20" height="20" src="img/case/r.png" alt="image">
            </div>
          </div>

          <span class="case-card__title">Koala</span>
          <div class="case-card__price">
            <span class="case-card__coin">
              <svg width='20' height='20'>
                <use href='img/sprite/sprite.svg#coin'></use>
              </svg>
            </span>
            <span class="case-card__value">24,297</span>
          </div>

          <div class="case-card__btns">
            <button class="violet-btn"><span class="violet-btn__text">Продать предмет</span><span
                class="violet-btn__text--mob">Продать</span></button>
            <button class="transparent-btn transparent-btn--violet">в инвентарь</button>
          </div>
        </div>
      </div>

      <div class="modal__bottom">
        <button class="violet-btn violet-btn--mode">
          Продать
          <span class="violet-btn__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#coin'></use>
            </svg>
          </span>
          <span class="violet-btn__value">80</span>
        </button>
        <button class="violet-btn violet-btn--mode">
          открыть х1
          <span class="violet-btn__icon">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#coin'></use>
            </svg>
          </span>
          <span class="violet-btn__value">555</span>
        </button>
      </div>

    </div>

  </div>

  <div class="modal flip" data-popup="flip">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="modal__icon">
      <img width="68" height="68" src="./img/sprite/coin2.svg" alt="icon">
    </div>
    
    <div class="modal__box">
      <span class="modal__title">
        Создание игры COINFLIP
      </span>

      <div class="game-calc">
          <div class="game-bet">
            <div class="game-bet__box">
              <label class="game-bet__label bet" for="bet_value">
                <input type="number" name="bet_value" id="bet_value" placeholder="0">
              </label>
              <div class="game-bet__btns">
                <button class="bet-btn bet-btn--mode" data-bet="2x">2Х</button>
                <button class="bet-btn bet-btn--mode" data-bet="1/2">1/2</button>
              </div>
            </div>
            <ul class="game-bet__list">
              <li class="game-bet__item">
                <button class="bet-btn clear" data-bet="clear">
                  <svg width='18' height='18'>
                    <use href='img/sprite/sprite.svg#delete'></use>
                  </svg>
                </button>
              </li>
              <li class="game-bet__item">
                <button class="bet-btn" data-bet="10">
                  +10
                </button>
              </li>
              <li class="game-bet__item">
                <button class="bet-btn" data-bet="100">
                  +100
                </button>
              </li>
              <li class="game-bet__item">
                <button class="bet-btn" data-bet="1000">
                  +1000
                </button>
              </li>
              <li class="game-bet__item">
                <button class="bet-btn" data-bet="min">
                  MIN
                </button>
              </li>
              <li class="game-bet__item">
                <button class="bet-btn" data-bet="max">
                  MAX
                </button>
              </li>
            </ul>
          </div>

        <div class="game-calc__inner">
          <span class="game-calc__title">Выберите сторону</span>
          <ul class="game-calc__wrapp game-calc__wrapp--mode">
            <li class="flip-btn flip-btn--mode">
              <label for="kandara_2" class="flip-btn__label">
                <input type="radio" name="flip_currency_2" id="kandara_2">
                <span class="flip-btn__content">Кандара</span>
                <span class="flip-btn__image">
                <img width="40" height="40" class="flip-btn__image" src="./img/jackpot/Planet.png" alt="image">
              </span>
              </label>
            </li>
            <li class="flip-btn flip-btn--mode">
              <label for="vellion_2" class="flip-btn__label">
                <input type="radio" name="flip_currency_2" id="vellion_2" checked>
                <span class="flip-btn__content">Веллион</span>
                <span class="flip-btn__image">
                <img width="40" height="40" class="flip-btn__image" src="./img/jackpot/Planet2.png" alt="image">
                </span>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="violet-btn">создать игру</button>
  </div>
</div>