<div class="overlay fixed-block" data-overlay>
      <div class="modal sent" data-popup="sent">
        <div class="modal__box">
          <div class="modal__inner">
            <span class="modal__title">Withdrawal request sent</span>
            <p>You can check the request status in the withdrawal history</p>
          </div>

          <ul class="modal__list">
            <li class="modal__item">
              <span class="modal__name">Amount</span>
              <span class="modal__value">3,700 USDT</span>
            </li>
            <li class="modal__item">
              <span class="modal__name">Withdrawal Address:</span>
              <span class="modal__value">0xaf79d897be0..</span>
            </li>
            <li class="modal__item">
              <a class="modal__link">Save address</a>
            </li>
          </ul>
          <button class="main-btn main-btn--mode">View history of withdrawals</button>
        </div>
      </div>

      <div class="modal blocked" data-popup="blocked">
        <div class="modal__box">
          <div class="modal__inner">
            <span class="modal__title">Withdrawal of funds blocked</span>
            <p>Your withdrawal has been blocked because you are in arrears. If you have insufficient funds in your account, please replenish your account to proceed</p>
          </div>
          
          <button class="blue-btn">Back to main page</button>
        </div>
      </div>
</div>








