<div class="overlay fixed-block" data-overlay>
  <div class="modal authorization" data-popup="authorization">
   
    <div class="modal__box">
 
      <button class="close" aria-label="Закрыть модальное окно">
        <svg width="32" height="32">
          <use href="img/sprite/sprite.svg#close"></use>
        </svg>
      </button>
      <span class="modal__title">ВЫБЕРИТЕ СПОСОБ АВТОРИЗАЦИИ</span>
      <ul class="modal__list">
        <li class="modal__item">
          <button class="blue-btn">
            <span class="blue-btn__icon">
              <img width='32' height='32' src="./img/sprite/google.svg" alt="icon">
            </span>
            Google
          </button>
        </li>
        <li class="modal__item">
          <button class="blue-btn">
            <span class="blue-btn__icon">
              <img width='32' height='32' src="./img/sprite/discord.svg" alt="icon">
            </span>
            Discord
          </button>
        </li>
        <li class="modal__item">
          <button class="blue-btn">
            <span class="blue-btn__icon">
              <img width='32' height='32' src="./img/sprite/vk2.svg" alt="icon">
            </span>
            Вконтакте
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="modal exit" data-popup="exit">
    <button class="close" aria-label="Закрыть модальное окно">
      <svg width="32" height="32">
        <use href="img/sprite/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal__box">
      <span class="modal__title">Вы точно хотите выйти из<br> аккаунта?</span>
      
      <div class="modal__btns">
        <button class="transparent-btn transparent-btn--violet">Да</button>
        <button class="violet-btn">нет</button>
      </div>
    </div>
  </div>
</div>