.bonus-section {
  padding-bottom: clamp(25px, 3.125vw, 60px);

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 3.906vw, 40px);
  }

  &__bottom {
    border-radius: 20px;
    background-color: rgba(var(--bg-f), 0.2);
    display: flex;
    flex-direction: column;

    @include for-tablet{
      grid-gap: 20px;
    }

    @include tablet{
      grid-gap: 25px;
    }

    .title {
      @include for-tablet {
        margin-bottom: 15px;
      }
      font-size: 24px;
    }

    p {
      color: rgba(var(--cl-a), 1);
      font-weight: 700;

      @include for-tablet {
        font-size: clamp(16px, 0.9375vw, 18px);
      }

      @include tablet {
        font-size: clamp(14px, 1.563vw, 16px);
      }

      @include mobile{
        line-height: 125%;
      }

      br {
        &:not(.mode) {
          @include for-mobile {
            display: none;
          }
        }

        &.mode {
          @include for-mobile {
            display: inline;
          }

          @include mobile {
            display: none;
          }
        }
      }
    }

    @include for-tablet {
      padding: clamp(25px, 1.5625vw, 30px) clamp(25px, 6.7708vw, 130px) clamp(25px, 1.5625vw, 30px) clamp(25px, 1.8229vw, 35px);
    }

    @include tablet {
      @include for-mobile {
        padding: clamp(20px, 2.441vw, 25px);
      }
    }

    @include mobile {
      padding: 30px 20px;
    }
  }
}
