.cases-section{
    padding-bottom: clamp(25px, 3.125vw, 60px);

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(55px, 3.6458vw, 70px);

        @include desktop{
            grid-gap: 95px;
        }
    }

    &__objects{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(20px, 1.3021vw, 25px);
        border-radius: 20px;
        background-color: rgba(var(--bg-f),.2);

        @include for-tablet{
            padding: clamp(25px, 1.5625vw, 30px) clamp(25px, 1.8229vw, 35px);
        }

        @include tablet{
            padding: clamp(20px, 2.441vw, 25px);
        }

        .title{
            font-size: 20px;

            img,svg{
                width: 32px;
                height: 32px;
            }
        }
    }
}