.game-section {
  padding-bottom: clamp(30px, 3.125vw, 60px);

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(30px, 2.0833vw, 40px);
  }

  &__inner {
    background-color: rgba(var(--bg-f), 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 1.3021vw, 25px);

    @include for-tablet {
      padding: clamp(25px, 1.5625vw, 30px) clamp(25px, 1.8229vw, 35px);
    }

    @include tablet {
      padding: 25px clamp(20px, 2.441vw, 25px);
    }

    .title {
      font-size: 20px;

      img,
      svg {
        width: 32px;
        height: 32px;
      }
    }

    &--mode {
      @include for-tablet {
        padding-right: 22px;
      }

      @include tablet {
        padding-right: 25px;
      }

      @include mobile {
        padding-right: 20px;
      }
    }

    &--flip {
      @include mobile {
        .info-btn {
          b {
            display: none;
          }
        }
      }
    }
  }

  &__wrapper {
    background-color: rgba(var(--bg-f), 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 1.3021vw, 25px);

    @include for-tablet {
      padding: clamp(25px, 1.5625vw, 30px) clamp(25px, 1.8229vw, 35px);
    }

    @include tablet {
      padding: 25px clamp(20px, 2.441vw, 25px);
    }

    .info-btn{
      &:not(.info-btn--mode){
        @include ios{
          overflow: hidden;
          width: Min(30.488vw, 125px);
          text-overflow: ellipsis;
          white-space: nowrap;
          display: inline-block;
          padding-left: 31px;
          position: relative;
  
          img,svg{
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
          }
        } 
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;

    img,
    picture {
      border-radius: inherit;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    font-weight: 800;
    line-height: 130%;

    @include for-tablet {
      font-size: clamp(18px, 1.25vw, 24px);
    }

    @include tablet {
      font-size: clamp(16px, 1.758vw, 18px);
    }
  }

  &__bottom {
    display: grid;
    grid-gap: 20px;
    justify-items: end;

    .game-section__title {
      grid-column: 1/-1;
      justify-self: center;
    }

    .yellow-btn {
      &:last-child {
        justify-self: start;
      }
      height: clamp(40px, 3.125vw, 60px);
      font-size: clamp(14px, 1.0417vw, 20px);
      padding: clamp(13px, 1.0417vw, 20px) clamp(15px, 1.3021vw, 25px);
    }

    margin-bottom: calc(clamp(40px, 3.125vw, 60px) * -1);

    @include tablet {
      padding-top: 10px;
    }

    @include for-mobile {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-columns: 1.15fr 1fr;
    }

    &--out {
      margin-bottom: calc((clamp(57px, 4.1667vw, 80px) / 1.3) * -1);

      .game-btn--out {
        justify-self: center;
        grid-column: 1/-1;
        height: clamp(57px, 4.1667vw, 80px);
      }

      @include mobile{
        margin-bottom: -40px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 20px;
    padding: 0 Min(5.2083vw, 100px) 0 Min(3.6458vw, 70px);

    .game-info {
      &:nth-child(2) {
        @include for-desktop {
          margin-left: -20px;
        }

        @include tablet {
          @include for-small-tablet {
            margin-left: 40px;
          }
        }
      }
      &:nth-child(3) {
        @include for-desktop {
          margin-left: 30px;
        }

        @include tablet {
          @include for-small-tablet {
            margin-left: 50px;
          }
        }
      }
    }

    @include desktop {
      @include for-tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 75px 20px;
        padding: 20px 50px 5px;
      }
    }

    @include tablet {
      @include for-small-tablet {
        padding: 0 30px 0 55px;
      }
    }

    @include small-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 75px 20px;
      padding: 20px 0 5px;
    }
  }

  &--flip {
    .game-top {
      @include tablet {
        @include for-small-tablet {
          padding: 0 10px;
        }
      }
    }

    .game-section {
      &__wrapper {
        position: relative;

        &:not(.game-section__wrapper--mode) {
          background-color: transparent;
        }

        @include for-tablet {
          grid-gap: 65px;
        }

        @include tablet {
          @include for-small-tablet {
            grid-gap: 75px;
          }
        }

        @include small-tablet {
          @include for-mobile {
            grid-gap: 35px;
          }
        }

        @include mobile {
          grid-gap: 25px;
          padding: 25px clamp(20px, 2.441vw, 25px) 15px;
        }
      }

      &__box {
        @include for-tablet {
          grid-gap: clamp(40px, 3.6458vw, 70px);
        }

        @include tablet {
          @include for-mobile {
            grid-gap: clamp(40px, 4.395vw, 45px);
          }
        }

        @include mobile {
          grid-gap: 50px;
        }

        &--mode {
          @include for-tablet {
            grid-gap: 40px;
          }

          @include tablet {
            grid-gap: 25px;
          }
        }
      }

      &__top {
        margin-bottom: 5px;
      }
    }

    .history-box__list {
      @include for-tablet {
        height: clamp(300px, 17.7083vw, 340px);
      }

      @include tablet {
        height: clamp(300px, 33.203vw, 340px);
      }

      &--mode {
        height: fit-content;
      }

      &--flip {
        height: fit-content;
      }
    }

    .history-box__row {
      margin-right: 0;
    }
  }
}
