.crash-app{
    display: grid;
    grid-gap: 20px clamp(25px, 2.0833vw, 40px);

    @include for-desktop{
        grid-template-columns: 1fr clamp(339px, 22.6563vw, 435px);
    }

    @include desktop{
        @include for-tablet{
            grid-template-columns: 100%;
        }
    }

    @include tablet{
        @media (min-width: (900px)) {
            grid-template-columns: 1fr 339px;
        }
    }

    @media (max-width: (900px)) {
        grid-template-columns: 100%;
    }
    

    &__box{
        position: relative;
        height: 438px;
        z-index: 1;
        border-radius: 20px;
        overflow: hidden;
        background-color: rgba(var(--bg-f),.4);
    }

    &__bg{
        position: absolute;
        z-index: -1;
        pointer-events: none;
        inset: 0;
        border-radius: inherit;
      

        img,picture{
            width: 100%;
            height: 100%;
        }
    }

    &__stars{
        position: absolute;
        z-index: 1;
        pointer-events: none;
        left: 0;
        bottom: 80%;
        right: 0;
        opacity: 0;
        height: calc(100% * 20);
        background-image: url(../img/crash/stars.png);
        background-position: top center;
        background-size: contain;
        background-repeat: repeat-y;
        transition: opacity .5s;

        &.active{
            animation: slideDown 32s linear infinite .7s; 
        }
    }

    &__cloud{
        position: absolute;
        z-index: 3;
        pointer-events: none;
        inset: 0;
        transition: transform 3s linear;
        pointer-events: none;

        img,picture{
            object-position: bottom center;
            width: 100%;
            height: 100%;
        }

        &.active{
            animation: smokeMove 3s linear forwards;
        }
    }

    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(var(--cl-a),1.0);
        position: absolute;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        top: 90px;

        &.stop{
            color: rgba(var(--cl-r),1.0);
        }
    }

    &__profit{
        font-weight: 800;
        font-size: 60px;
        color: inherit;
        transition: color .2s;
        line-height: 145%;
    }

    &__text{
        font-weight: 500;
        font-size: 18px;
        color: inherit;
        transition: color .2s;
    }

    &__bet{
        border: 1px solid rgba(var(--cl-i),.6);
        border-radius: 6px;
        padding: 5px clamp(12px, .7552vw, 14.5px);
        width: fit-content;
        min-height: clamp(25px, 1.5625vw, 30px);
        background-color: rgba(var(--bg-u),.2);
        display: flex;
        align-items: center;
        justify-content: center;
            font-weight: 700;
            font-size: clamp(12px, .8333vw, 16px);
            text-align: center;
            color: rgba(var(--cl-i),1.0);


            &.red{
                background-color: rgba(var(--bg-v),.2);
                border-color: rgba(var(--cl-r),.6);
                color: rgba(var(--cl-r),1.0);
            }

            &.violet{
                color: rgba(var(--cl-j),1.0);
                border-color: rgba(var(--cl-j),.6);
                background-color: rgba(var(--cl-j),.2);
            }

            &.yellow{
                color: rgba(var(--cl-k),1.0);
                border-color: rgba(var(--cl-k),.6);
                background-color: rgba(var(--bg-q),.2);
            }
          
            &.orange{
                color: rgba(var(--cl-p),1.0);
                border-color: rgba(var(--cl-p),.6);
                background-color: rgba(var(--cl-p),.2);
            }
     
    }

    &__blast{
        position: absolute;
        z-index: 5;
        pointer-events: none;
        inset: 0;
        opacity: 0;

        img,picture{
            object-position: bottom center;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &.active{
            opacity: 1;
        }
    }

    &__rocket{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 20%);
        bottom: 5px;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        z-index: 3;
        width: 161px;
        height: 225px;
        transition: transform 2s linear, opacity 0s;
        
        img,picture{
            width: 100%;
            height: 100%;
        }

        &.active{
            animation: rocketFlight 2s linear forwards;
        }

        &.stop{
            opacity: 0;
        }
    }

    &__history{
        position: absolute;
        left: 20px;
        right: 20px;
        top: 20px;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        z-index: 10;
        overflow: hidden;
    }
    
    .info-btn{
        position: absolute;
        left: 20px;
        bottom: 20px;
        z-index: 10;
    }
}

@keyframes rocketFlight {
    0% {
        transform: translate(-50%, 20%) scale(1);
    }
    100% {
        transform: translate(-50%, -5%) scale(0.75);
    }
}

@keyframes smokeMove {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(50px) scale(1.1);
        opacity: 0.5;
    }
    100% {
        transform: translateY(100px) scale(1);
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        opacity: 1;
      transform: translateY(0);
    }
    100% {
        opacity: 1;
      transform: translateY(100%);
    }
}
