.game-calc{
    background-color: rgba(var(--bg-k),.2);
    border-radius: 20px;
    padding: clamp(20px, 1.5625vw, 30px) clamp(20px, 1.5625vw, 30px) clamp(40px, 3.125vw, 60px);
    height: fit-content;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(15px, 1.3021vw, 25px);
    position: relative;

    &__title{
        font-weight: 700;
        font-size: clamp(14px, .9375vw, 18px);
        line-height: 130%;
    }

    &__bets{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    &__bet{
        height: clamp(48px, 3.125vw, 60px);
        border: 1px solid var(--br-c);
        border-radius: 15px;
        padding: 0px 20px;
        background-color: rgba(var(--bg-z),.4);
        display: flex;
        align-items: center;
        grid-gap: 10px;

        &.blue{
            background-color: rgba(var(--bg-k),1);
            border: 2px solid var(--br-i);
        }
    }

    &__value{
        width: 100%;
        text-align: center;
        font-weight: 800;
        font-size: 18px;
        text-align: center;
    }

    &__coin{
        width: 24px;
        height: 24px;
        display: flex;

        svg{
            width: 100%;
            height: 100%;
        }
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        .game-bet__label{
            padding: 8px 25px;
        }

        .game-calc__inner:last-child{
            grid-column: 1/-1;
        }
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 10px;
    }

    &__switch{
        display: flex;
        align-items: center;
        grid-gap: 10px;
        background-color: rgba(var(--bg-f),.4);
        border: 1px solid var(--br-a);
        border-radius: 15px;
        padding: clamp(12px, .9115vw, 17.5px) clamp(10px, 1.0417vw, 20px) clamp(12px, .9115vw, 17.5px) clamp(15px, 1.0417vw, 20px);


        &-text{
            font-family: var(--font-family);
            font-weight: 500;
            font-size: clamp(14px, .8333vw, 16px);
            color: rgba(var(--cl-e),1.0);
        }
    }

    &__btns{
        background-color: rgba(var(--bg-f),.4);
        border-radius: 15px;
        display: flex;
        align-items: center;
        grid-gap: 10px;
        padding: clamp(8px, .4688vw, 9px) 10px;
        border: solid 1px var(--br-b);
    }

    &__wrapp{
        display: flex;
        align-items: center;
        grid-gap: clamp(10px, .8854vw, 17px);

        @include for-tablet{
            margin-top: clamp(5px, .7813vw, 15px);
        }

        @include tablet{
            margin-top: 5px;
        }
    }

    .game-btn{
        position: absolute;
        bottom: calc(clamp(40px, 3.125vw, 60px) * -1);
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;

        &--out{
            bottom: calc(clamp(57px, 6.8376vw, 80px) * -1);
        }
    }

    @include desktop{
        @include for-tablet{
            margin-bottom: 15px;
        }
    }

    @media (max-width: (900px)) {
        margin-bottom: 15px;
    }

    &--out{
        @include desktop{
            @include for-tablet{
                margin-bottom: 37px;
            }
        }
    
        @media (max-width: (900px)) {
            margin-bottom: 27px;
        }
    }

    &--mode{
      grid-gap: clamp(25px, 1.3021vw, 30px);
        .game-calc{
            background-color: initial;
            border-radius: initial;
            padding: 0;

            &__inner{
                background-color: rgba(var(--bg-k),.2);
                border-radius: 20px;
                padding: clamp(20px, 1.5625vw, 30px) clamp(20px, 1.5625vw, 30px) clamp(40px, 3.125vw, 60px);

                &:first-child{
                    padding: clamp(20px, 1.5625vw, 30px) clamp(20px, 1.5625vw, 30px);
                }
            }
        }
    }
}