.history-box {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(20px, 1.3021vw, 25px);

  &__list {
    grid-gap: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    @include for-mobile {
      height: 315px;
    }

    @include mobile {
      height: 290px;
    }

    &--flip {
      @include tablet {
        margin-right: clamp(5px, 0.5208vw, 10px);
      }
    }

    &::-webkit-scrollbar {
      width: 4px;

      @include small-tablet {
        display: block;
      }
    }
  }

  &__row {
    margin-right: clamp(5px, 0.5208vw, 10px);
  }

  .game-row--head {
    @include for-tablet {
      width: calc(100% - (clamp(5px, 0.5208vw, 10px) * 2));
    }

    @include tablet {
      @include for-mobile {
        width: calc(100% - clamp(5px, 0.5208vw, 10px));
      }
    }
  }

  &--jackpot {
    .game-row {
      @include for-laptop {
        grid-template-columns: 0.25fr 0.2fr repeat(2, 0.3fr);
      }

      @include laptop {
        @include for-tablet {
          grid-template-columns: 0.3fr repeat(2, 0.2fr) 0.3fr;
        }
      }

      @include tablet {
        @include for-small-tablet {
          grid-template-columns: 0.4fr 0.27fr 0.25fr 0.18fr;
        }
      }

      @include small-tablet {
        @include for-mobile {
          grid-template-columns: 0.4fr repeat(2, 0.2fr) 0.3fr;
        }
      }

      @include mobile {
        grid-template-columns: 0.86fr 0.4fr 0.5fr;
      }

      &__name {
        &--bet {
          @include mobile {
            display: flex;
          }
        }

        &--chance {
          @include mobile {
            justify-self: end;
            display: flex;
          }
        }

        &--result {
          @include mobile {
            display: none;
          }
        }
      }

      &__value {
        &--bet {
          @include mobile {
            display: flex;
          }
        }

        &--chance {
          @include mobile {
            justify-self: end;
            display: flex;
          }
        }

        &--result {
          color: rgba(var(--cl-k), 1);
          justify-self: end;

          @include mobile {
            display: none;
          }
        }
      }
    }
  }

  &--flip {
    .game-row {
      @include small-tablet {
        @include for-mobile {
          grid-template-columns: 0.5fr repeat(3, 0.3fr);
        }
      }

      &__name {
        &--bet {
          @include small-tablet {
            @include for-mobile {
              display: none;
            }
          }
        }
      }

      &__value {
        &--bet {
          @include small-tablet {
            @include for-mobile {
              display: none;
            }
          }
        }
      }
    }
  }
}
