.notification{
    border: 1px solid var(--br-f);
    border-radius: 20px;
    background-color: rgba(var(--bg-m),1.0);
    padding: clamp(15px, 1.0417vw, 20px) clamp(15px, 1.3021vw, 25px) clamp(15px, 1.0417vw, 20px) clamp(15px, 1.0417vw, 20px);
    display: flex;
    align-items: center;
    grid-gap: 15px;
    width: fit-content;
    transition: all .2s;

    &.active{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    &--alert{
        border-color: var(--br-e);
    }

    &--error{
        border-color: var(--br-g);
    }

    &--mode{
        align-items: flex-start;
    }

    &__inner{
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }

    &__info{
        display: inline-flex;
        grid-gap: 5px;
        align-items: center;
    }

    &__icon{
        width: clamp(20px, 1.25vw, 24px);
        height: clamp(20px, 1.25vw, 24px);
        display: flex;

        svg{
            width: 100%;
            height: auto;
        }
    }

    &__coin{
        width: clamp(16px, 1.0417vw, 20px);
        height: clamp(16px, 1.0417vw, 20px);
        display: flex;

        svg{
            width: 100%;
            height: auto;
        }
    }

    &__text{
        margin-right: 5px;
        font-weight: 500;
        font-size: clamp(12px, .8333vw, 16px);
    }

    &__title{
        font-weight: 500;
        font-size: clamp(14px, .9375vw, 18px);

        &--green{
            color: rgba(var(--cl-i),1.0);
        }
    }

    &__value{
        font-weight: 700;
        font-size: clamp(12px, .7292vw, 14px);
        text-align: center;
        color: rgba(var(--cl-j),1.0);
    }

    &__close{
        display: block;
        width: clamp(16px, 1.25vw, 24px);
        height: clamp(16px, 1.25vw, 24px);
        svg{
            pointer-events: none;
            fill: rgba(var(--cl-a),.2);
            transition: all .3s;
            width: 100%;
            height: auto;
        }

        &:hover{

            svg{
                fill: rgba(var(--cl-a), .8);
            }
        }
    }
}

.notifications-wrapper{
    position: fixed;
    z-index: 15;
    display: flex;
    flex-direction: column;
    grid-gap: clamp(10px, 1.0417vw, 20px);

    @include for-tablet{
        bottom: clamp(26px, 3.125vw, 60px);
        left: clamp(26px, 3.125vw, 60px);
    }

    @include tablet{
        left: clamp(20px, 2.539vw, 26px);
        bottom: clamp(80px, 8.301vw, 85px);
    }

    &.active{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}