.referral-list{
    display: flex;
    flex-direction: column;
    counter-reset: li;

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 10px;

        padding: 10px 20px;
        min-height: 45px;
        border-radius: 20px;

        &:nth-child(odd){
            background-color: rgba(var(--bg-f),0.4);
        }

        @include ios{
            padding: 10px 10px;
            grid-gap: 5px;
        }
    }

    &__box{
        display: flex;
        align-items: center;
        grid-gap: 5px;
    }

    &__level{
        font-weight: 700;
        font-size: clamp(16px, .9375vw, 18px);
        display: inline-flex;
        grid-gap: 10px;

        &::before{
            counter-increment: li;
            content: counter(li);
            font-weight: 700;
            font-size: clamp(16px, .9375vw, 18px);
            color: rgba(var(--cl-k),1.0);
        }
    }

    &__text{
        font-weight: 700;
        font-size: clamp(14px, .8333vw, 16px);
        color: rgba(var(--cl-e),1.0);


        @include laptop{
            &:not(.mob){
                display: none;
            }
        }

        &.mob{
            @include for-laptop{
                display: none;
            }
            @include laptop{
                display: inline;
            }
        }
    }

    &__icon{
        width: clamp(18px, 1.25vw, 24px);
        height: clamp(18px, 1.25vw, 24px);
        display: flex;

        svg{
            width: 100%;
            height: auto;
        }
    }

    &__percent{
        display: inline-flex;
        grid-gap: 5px;
        align-items: center;
        color: rgba(var(--cl-k),1.0);
        font-weight: 700;
        font-size: clamp(14px, .8333vw, 16px);

        min-width: clamp(94.5px, 5.5729vw, 107px);
       
        b{
            font-weight: inherit;
            font-style: inherit;
            color: rgba(var(--cl-e),1.0);
        }
    }
}