.transparent-btn {
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  @include gradient-border(var(--gr-a), 2px);
  z-index: 1;
  border-radius: 10px;

  @include for-tablet {
    padding: clamp(15.5px, 1.0417vw, 20px) clamp(20px, 1.3021vw, 25px);
    font-size: clamp(18px, 1.0417vw, 20px);
  }

  @include tablet {
    padding: clamp(8px, 1.514vw, 15.5px) clamp(15px, 1.953vw, 20px);
    font-size: clamp(14px, 1.758vw, 18px);
  }

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: var(--gr-a);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }

    &:active {
      &::after {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  &--violet {
    background-color: rgba(var(--bg-f), 0.5);

    &::before {
      background: var(--gr-f);
    }

    &::after {
      background: var(--gr-f);
    }
  }
}

.yellow-btn {
  font-weight: 800;
  font-size: clamp(14px, 0.9375vw, 18px);
  text-transform: uppercase;
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 0 0 24px 0 rgba(255, 118, 1, 0.2);
  background: var(--gr-a);
  position: relative;
  width: fit-content;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  @include for-tablet {
    padding: clamp(13px, 0.8333vw, 16px) clamp(15px, 1.3021vw, 25px);
  }

  @include tablet {
    padding: clamp(8px, 1.27vw, 13px) 15px;
  }

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: var(--gr-c);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }

    &:active {
      &::after {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  svg {
    fill: currentColor;
  }
}

.violet-btn {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 0 0 24px 0 rgba(234, 74, 235, 0.2);
  background: var(--gr-d);
  position: relative;
  width: fit-content;
  padding: 13px 15px;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: var(--gr-e);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }

    &:active {
      &::after {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  &__icon {
    width: clamp(20px, 1.25vw, 24px);
    height: clamp(20px, 1.25vw, 24px);
    display: flex;

    svg,
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__value {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  &--mode {
    font-size: clamp(14px, 1.0417vw, 20px);
    border-radius: 10px;
    grid-gap: 5px;
    padding: clamp(10px, 0.9375vw, 18px) clamp(15px, 1.3021vw, 25px);

    &:hover {
      &::after {
        opacity: 0.6;
      }
    }
  }

  &__text {
    @include for-desktop {
      display: inline;
    }

    @include desktop {
      display: none;
    }

    &--mob {
      @include for-desktop {
        display: none;
      }

      @include desktop {
        display: inline;
      }
    }
  }
}

.copy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(6px, 0.4167vw, 8px);
  width: clamp(32px, 2.0833vw, 40px);
  height: clamp(32px, 2.0833vw, 40px);
  border: 1px solid var(--br-c);
  border-radius: 10px;
  background-color: rgba(var(--bg-f), 0.3);
  transition: all 0.4s;

  svg {
    transition: all 0.4s;

    fill: rgba(var(--cl-n), 1);
  }

  &:hover {
    background-color: rgba(var(--bg-f), 0.6);

    svg {
      fill: rgba(var(--cl-a), 0.9);
    }
  }
}

.blue-btn {
  border-radius: 50px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(var(--bg-k), 0.3);
  transition: all 0.4s;

  @include for-tablet {
    padding: 20px 25px 20px 20px;
    font-size: 20px;
  }

  @include tablet {
    padding: 15px;
    font-size: 14px;
  }

  &:hover {
    background-color: rgba(var(--bg-k), 0.6);
  }

  &__icon {
    img {
      width: 100%;
      height: auto;
    }

    display: flex;
    z-index: 1;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(var(--bg-f), 0.4);
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      @include for-tablet {
        width: 52px;
        height: 52px;
      }

      @include tablet {
        width: 30px;
        height: 30px;
      }
    }

    @include for-tablet {
      width: 32px;
      height: 32px;
    }

    @include tablet {
      width: 20px;
      height: 20px;
    }
  }
}

.payment-btn {
  border-radius: 10px;
  background: var(--gr-p);

  input {
    position: absolute;
    width: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    height: 100%;
    font-weight: 800;
    font-size: clamp(12px, 0.8333vw, 16px);
    position: relative;
    z-index: 1;

    @include for-tablet {
      padding: 12px 15px;
    }

    @include tablet {
      padding: 9px 10px;
    }

    &::before {
      position: absolute;
      z-index: -1;
      background: var(--gr-a);
      inset: 0;
      content: "";
      border-radius: 10px;
      transition: all 0.2s;
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      position: absolute;
      z-index: -2;
      background: rgba(var(--bg-f), 0.1);
      background: var(--gr-b);
      inset: 0;
      content: "";
      border-radius: 10px;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &:hover {
    .payment-btn__content::after {
      opacity: 0.4;
      visibility: visible;
    }
  }

  input[type="radio"]:checked ~ .payment-btn__content::before {
    opacity: 1;
    visibility: visible;
  }
}

.sort-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: clamp(14px, 0.8333vw, 16px);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 15px;
  height: clamp(40px, 4.395vw, 45px);
  transition: all 0.4s;

  &:hover {
    color: rgba(var(--cl-k), 1);
  }

  &.active {
    border-color: var(--br-e);
    color: rgba(var(--cl-k), 1);
  }
}

.cancel-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--bg-f), 0.2);
  position: relative;
  border: solid 1px var(--br-e);
  border-radius: 30px;
  transition: all 0.4s;

  @include for-tablet {
    padding: 7.5px 15px;
  }

  @include tablet {
    padding: clamp(5px, 0.732vw, 7.5px) clamp(10px, 1.465vw, 15px);
  }

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: rgba(var(--bg-f), 0.2);
    z-index: -1;
    pointer-events: none;
  }

  &:hover {
    background: rgba(var(--bg-q), 0.9);

    .cancel-btn__text {
      color: rgba(var(--cl-a), 1);
    }
  }

  &__text {
    font-weight: 500;
    color: rgba(var(--cl-k), 1);
    transition: all 0.4s;

    @include for-tablet {
      font-size: clamp(14px, 0.8333vw, 16px);
    }

    @include tablet {
      font-size: clamp(12px, 1.367vw, 14px);
    }

    @include for-desktop {
      display: inline;
    }

    @include desktop {
      @include for-tablet {
        display: none;
      }
    }

    @include tablet {
      display: none;
    }

    &--mob {
      @include for-desktop {
        display: none;
      }

      @include desktop {
        @include for-tablet {
          display: inline;
        }
      }

      @include tablet {
        display: inline;
      }
    }
  }
}

.open-btn {
  border-radius: 10px;
  background: rgba(var(--bg-f), 0.5);

  input {
    position: absolute;
    width: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    width: 45px;
    height: 35px;
    font-weight: 800;
    font-size: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    @include gradient-border(var(--gr-a), 2px);

    &::before {
      transition: all 0.2s;
      opacity: 0;
      visibility: hidden;
    }

    @include for-tablet{
      font-size: clamp(14px, 0.833vw, 16px);
    }

    @include tablet{
      font-size: clamp(12px, 1.367vw, 14px);
    }
  }

  &:hover {
    background: rgba(var(--bg-f), 0.8);
  }

  input[type="radio"]:checked + .open-btn__content::before {
    opacity: 1;
    visibility: visible;
  }

  &--mode {
    width: 100%;
    background-color: transparent;
    .open-btn {
      &__content {
        background: rgba(var(--bg-k), 0.3);
        &::before {
          display: none;
        }
        width: 100%;
        font-weight: 500;

        @media (min-width: (900px)) {
          height: clamp(32px, 2.1875vw, 42px);
          font-size: clamp(14px, 0.9375vw, 18px);
        }

        @media (max-width: (900px)) {
          height: clamp(32px, 4.102vw, 42px);
          font-size: clamp(14px, 1.758vw, 18px);
        }
      }
    }

    &:hover {
      background: rgba(var(--bg-k), 0.5);
    }

    input[type="radio"]:checked + .open-btn__content {
      background: rgba(var(--bg-k), 0.8);
    }
  }
}

.info-btn {
  background-color: rgba(var(--bg-f), 0.4);
  font-weight: 700;
  font-size: clamp(14px, 0.9375vw, 18px);
  display: flex;
  align-items: center;
  grid-gap: 5px;
  min-height: clamp(34px, 2.2396vw, 43px);
  border-radius: 40px;
  padding: clamp(8px, 0.5208vw, 10px) clamp(10px, 0.7813vw, 15px);
  transition: all 0.4s;

  svg,
  img {
    width: clamp(16px, 1.0417vw, 20px);
    height: clamp(16px, 1.0417vw, 20px);
    display: flex;
    fill: rgba(var(--cl-o), 1);
    transition: all 0.4s;
  }

  &:hover {
    background-color: rgba(var(--bg-f), 0.6);

    svg {
      transform: scale(1.1);
    }
  }

  &--mode {
    border-radius: 10px;
    padding: clamp(8px, 0.5208vw, 10px) clamp(13px, 0.7813vw, 15px)
      clamp(8px, 0.5208vw, 10px) clamp(8px, 0.5208vw, 10px);
    min-height: clamp(34px, 2.0833vw, 40px);
    background-color: rgba(var(--bg-f), 0.6);
    font-weight: 700;
    font-size: clamp(14px, 0.8333vw, 16px);

    &:hover {
      background-color: rgba(var(--bg-f), 0.8);
    }
  }
}

.bet-btn {
  font-weight: 800;
  font-size: 11px;
  text-align: center;
  background-color: rgba(var(--bg-k), 0.5);
  padding: 5px 2px;
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  &--mode {
    padding: 8px 2px;
    height: clamp(32px, 1.8229vw, 35px);
  }

  svg,
  img {
    width: 18px;
    height: 18px;
    display: flex;
  }

  &:hover {
    background-color: rgba(var(--bg-i), 1);
  }

  &:active {
    background-color: rgba(var(--bg-i), 0.6);
  }

  &.active {
    background-color: rgba(var(--bg-i), 1);
  }
}

.game-btn {
  font-size: clamp(14px, 1.0417vw, 20px);
  padding: clamp(10px, 0.9375vw, 18px) clamp(15px, 1.3021vw, 25px);
  min-height: clamp(40px, 3.125vw, 60px);
  white-space: nowrap;

  &__icon {
    display: none;
    width: clamp(20px, 1.25vw, 24px);
    height: clamp(20px, 1.25vw, 24px);

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    white-space: nowrap;
  }

  &__value {
    display: none;
    font-size: clamp(16px, 1.0417vw, 20px);
  }

  &--out {
    flex-direction: column;
    border-radius: 50px;
    grid-gap: 2px;
    padding: clamp(14px, 1.7094vw, 20.5px) 25px;
    height: clamp(57px, 4.167vw, 80px);
    .game-btn__text {
      font-weight: 500;
      font-size: clamp(12px, 1.3675vw, 16px);
      text-transform: none;
    }
  }
}

.result-btn {
  font-weight: 800;
  font-size: clamp(14px, 0.8333vw, 16px);
  text-align: center;
  color: rgba(var(--cl-i), 1);
  text-shadow: 0 0 10px rgba(127, 228, 8, 0.25);
  border: 1px solid var(--br-f);
  border-radius: 20px;
  min-width: clamp(68px, 5.2083vw, 100px);
  width: fit-content;
  height: clamp(28px, 1.8229vw, 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--bg-u), 0.1);
  transition: all 0.4s;

  &--lose {
    text-shadow: 0 0 10px rgba(255, 0, 0, 0.25);
    background-color: rgba(var(--bg-v), 0.15);
    border-color: var(--br-g);
    color: rgba(var(--cl-r), 1);
  }
}

.wheel-btn {
  border-radius: 10px;
  background: rgba(var(--bg-f), 0.5);
  width: 100%;

  input {
    position: absolute;
    width: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    height: clamp(32px, 2.0833vw, 40px);
    font-weight: 800;
    font-size: clamp(14px, 0.9375vw, 18px);
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    @include gradient-border(
      linear-gradient(180deg, #317aff 0%, #1d4999 100%),
      2px
    );

    &::after {
      transition: all 0.2s;
      opacity: 0;
      visibility: hidden;
    }

    &:after {
      position: absolute;
      content: "";
      inset: 0;
      background: linear-gradient(180deg, #317aff 0%, #1d4999 100%);
      pointer-events: none;
      z-index: -1;
      border-radius: inherit;
    }
  }

  &--red {
    .wheel-btn__content {
      &::before {
        background: linear-gradient(180deg, #ff451c 0%, #c80202 100%);
      }

      &::after {
        background: linear-gradient(180deg, #ff451c 0%, #c80202 100%);
      }
    }
  }

  &--green {
    .wheel-btn__content {
      &::before {
        background: linear-gradient(180deg, #1fdb10 0%, #158f0b 100%);
      }

      &::after {
        background: linear-gradient(180deg, #1fdb10 0%, #158f0b 100%);
      }
    }
  }

  &--orange {
    .wheel-btn__content {
      &::before {
        background: var(--gr-a);
      }

      &::after {
        background: var(--gr-a);
      }
    }
  }

  input[type="radio"]:checked + .wheel-btn__content::after {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 5px 0 rgba(255, 118, 1, 0.2);
  }
}

.flip-btn {
  border-radius: 15px;
  width: 100%;

  input {
    position: absolute;
    width: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__label {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    height: clamp(45px, 3.125vw, 60px);
    font-weight: 800;
    font-size: clamp(12px, 0.8333vw, 16px);
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--br-b);
    margin-left: 30px;
    background: rgba(var(--bg-f), 0.4);

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border: solid 1px var(--br-c);
      border-radius: inherit;
      pointer-events: none;
      border-bottom: clamp(3px, 0.2083vw, 4px) solid var(--br-c);
      opacity: 0;
      visibility: hidden;
      transition: all 0.2s;
    }

    @include for-mobile {
      border-radius: 10px;
    }

    @include mobile {
      border-radius: 15px;
    }
  }

  img {
    position: absolute;
    width: clamp(48px, 3.125vw, 60px);
    height: clamp(48px, 3.125vw, 60px);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    z-index: 3;
  }

  input[type="radio"]:checked + .flip-btn__content::before {
    opacity: 1;
    visibility: visible;
  }

  input[type="radio"]:checked + .flip-btn__content {
    background: rgba(var(--bg-f), 0.6);
  }

  &--mode {
  width: fit-content;
    .flip-btn {
      &__content {
        background-color: initial;
        border: none;
        width: initial;
        height: initial;
        margin: 0;
        border-radius: initial;
        font-size: 12px;

        &::before{
          display: none;
        }
      }

      &__label{
        flex-direction: column-reverse;
        grid-gap: 12px;
        align-items: center;
      }

      &__image:not(img){
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(var(--bg-f),.6);
        border: 2px solid transparent;
      }
    }

    img {
      position: relative;
      transform: initial;
      top: initial;
      left: initial;
      width: 40px;
      height: 40px;
      border: initial;
    }

    input[type="radio"]:checked ~ .flip-btn__image {
      border-color: rgba(var(--bg-k),.4);
    }
  }
}
