.transparent-btn {
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  @include gradient-border(var(--gr-a), 2px);
  z-index: 1;
  border-radius: 10px;

  @include for-tablet {
    padding: clamp(15.5px, 1.0417vw, 20px) clamp(20px, 1.3021vw, 25px);
    font-size: clamp(18px, 1.0417vw, 20px);
  }

  @include tablet {
    padding: clamp(8px, 1.514vw, 15.5px) clamp(15px, 1.953vw, 20px);
    font-size: clamp(14px, 1.758vw, 18px);
  }

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: var(--gr-a);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }

    &:active {
      &::after {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  &--violet{
    background-color: rgba(var(--bg-f),.5);

    &::before{
        background: var(--gr-f);
    }

    &::after{
        background: var(--gr-f);
    }
  }
}

.yellow-btn {
  font-weight: 800;
  font-size: clamp(14px, 0.9375vw, 18px);
  text-transform: uppercase;
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 0 0 24px 0 rgba(255, 118, 1, 0.2);
  background: var(--gr-a);
  position: relative;
  width: fit-content;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  @include for-tablet {
    padding: clamp(13px, 0.8333vw, 16px) clamp(15px, 1.3021vw, 25px);
  }

  @include tablet {
    padding: clamp(8px, 1.27vw, 13px) 15px;
  }

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: var(--gr-c);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }

    &:active {
      &::after {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  svg {
    fill: currentColor;
  }
}

.violet-btn {
  font-weight: 800;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 0 0 24px 0 rgba(234, 74, 235, 0.2);
  background: var(--gr-d);
  position: relative;
  width: fit-content;
  padding: 13px 15px;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: var(--gr-e);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }

  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }

    &:active {
      &::after {
        opacity: 0.7;
        visibility: visible;
      }
    }
  }

  &__icon{
    width: clamp(20px, 1.25vw, 24px);
    height: clamp(20px, 1.25vw, 24px);
    display: flex;

    svg,img{
      width: 100%;
      height: 100%;
    }
  }

  &__value{
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
  }

  &--mode{
    font-size: clamp(14px, 1.0417vw, 20px);
    border-radius: 10px;
    grid-gap: 5px;
    padding: clamp(10px, .9375vw, 18px) clamp(15px, 1.3021vw, 25px);

    &:hover{
      &::after{
        opacity: .6;
      }
    }
  }

  &__text{
    @include for-desktop{
      display: inline;
    }

    @include desktop{
      display: none;
    }

    &--mob{
      @include for-desktop{
        display: none;
      }
  
      @include desktop{
        display: inline;
      }
    }
  }
}

.copy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(6px, 0.4167vw, 8px);
  width: clamp(32px, 2.0833vw, 40px);
  height: clamp(32px, 2.0833vw, 40px);
  border: 1px solid var(--br-c);
  border-radius: 10px;
  background-color: rgba(var(--bg-f), 0.3);
  transition: all 0.4s;

  svg {
    transition: all 0.4s;

    fill: rgba(var(--cl-n), 1);
  }

  &:hover {
    background-color: rgba(var(--bg-f), 0.6);

    svg {
      fill: rgba(var(--cl-a), 0.9);
    }
  }
}

.blue-btn {
  border-radius: 50px;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: rgba(var(--bg-k), 0.3);
  transition: all 0.4s;

  @include for-tablet{
    padding: 20px 25px 20px 20px;
    font-size: 20px;
  }

  @include tablet{
    padding: 15px;
    font-size: 14px;
  }

  &:hover {
    background-color: rgba(var(--bg-k), 0.6);
  }

  &__icon {
    img {
      width: 100%;
      height: auto;
    }

    display: flex;
    z-index: 1;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background-color: rgba(var(--bg-f), 0.4);
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      @include for-tablet{
        width: 52px;
        height: 52px;
      }

      @include tablet{
        width: 30px;
        height: 30px;
      }
    }

    @include for-tablet{
      width: 32px;
      height: 32px;
    }

    @include tablet{
      width: 20px;
      height: 20px;
    }
  }
}

.payment-btn{
  border-radius: 10px;
  background: var(--gr-p);

  input{
    position: absolute;
    width: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__label{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content{
    width: 100%;
    height: 100%;
    font-weight: 800;
    font-size: clamp(12px, .8333vw, 16px);
    position: relative;
    z-index: 1;

    @include for-tablet{
      padding: 12px 15px;
    }

    @include tablet{
      padding: 9px 10px;
    }

    &::before{
      position: absolute;
      z-index: -1;
      background: var(--gr-a);
      inset: 0;
      content: '';
      border-radius: 10px;
      transition: all .2s;
      opacity: 0;
      visibility: hidden;
    }

    &::after{
      position: absolute;
      z-index: -2;
      background: rgba(var(--bg-f),.1);
      background: var(--gr-b);
      inset: 0;
      content: '';
      border-radius: 10px;
      transition: all .3s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &:hover{
    .payment-btn__content::after{
      opacity: .4;
      visibility: visible;
    }
  }

  input[type="radio"]:checked ~ .payment-btn__content::before {
    opacity: 1;
    visibility: visible;
  }
}

.sort-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: clamp(14px, .8333vw, 16px);
  border: 1px solid transparent;
  border-radius: 30px;
  padding: 10px 15px;
  height: clamp(40px, 4.395vw, 45px);
  transition: all .4s;


  &:hover{
    color: rgba(var(--cl-k),1.0);
  }


  &.active{
    border-color: var(--br-e);
    color: rgba(var(--cl-k),1.0);
  }
}

.cancel-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--bg-f),.2);
  position: relative;
  border: solid 1px var(--br-e);
  border-radius: 30px;
  transition: all 0.4s;

  @include for-tablet {
    padding: 7.5px 15px;
  }

  @include tablet {
    padding: clamp(5px, 0.732vw, 7.5px) clamp(10px, 1.465vw, 15px);
  }

  &:after {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: inherit;
    background: rgba(var(--bg-f),.2);
    z-index: -1;
    pointer-events: none;
  }

  &:hover {
    background: rgba(var(--bg-q), .9);

    .cancel-btn__text{
      color: rgba(var(--cl-a),1.0);
    }
  }

  &__text{
    font-weight: 500;
    color: rgba(var(--cl-k),1.0);
    transition: all 0.4s;

    @include for-tablet{
      font-size: clamp(14px, .8333vw, 16px);
    }

    @include tablet{
      font-size: clamp(12px, 1.367vw, 14px);
    }


    @include for-desktop{
      display: inline;
    }

    @include desktop{
      @include for-tablet{
        display: none;
      }
    }

    @include tablet{
      display: none;
    }

    &--mob{
      @include for-desktop{
        display: none;
      }
  
      @include desktop{
        @include for-tablet{
          display: inline;
        }
      }
  
      @include tablet{
        display: inline;
      }
    }
  }
}

.open-btn{
  border-radius: 10px;
  background: rgba(var(--bg-f), 0.5);

  input{
    position: absolute;
    width: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  &__label{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content{
    width: 45px;
    height: 35px;
    font-weight: 800;
    font-size: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    @include gradient-border(var(--gr-a), 2px);

    &::before{
      transition: all .2s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &:hover{
    background: rgba(var(--bg-f), 0.8);
  }

  input[type="radio"]:checked + .open-btn__content::before {
    opacity: 1;
    visibility: visible;
  }
}