.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
  }
  
  .toggle-switch .toggle-input {
    display: none;
  }
  
  .toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 25px;
    background-color: #191943;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
    background-color: #3E5BB2;
    transition: transform 0.3s;
  }
  
  .toggle-switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
    background-color: #7E00FF;
  }

  

  